# MacOS
.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Dependency directories
vendor/
node_modules/

# Output of `make build`
/argus
/healthcheck
# React build artifacts
/web/ui/static

# Output of `make build-all`
/.build/

# Output of the go coverage tool
*.out

# Ignore personal files
config.yml
argus.db