name: Docker Build

on:
  push:
    branches:
      - master
  release:
    types:
      - published

jobs:
  build-docker:
    name: Docker Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Set outputs
        id: vars
        run: |
          echo "sha_short=$(git rev-parse --short HEAD)"  >> ${GITHUB_ENV}
          echo "repository=${repository,,}" >> ${GITHUB_ENV}
          echo "repository_owner=${repository_owner,,}" >> ${GITHUB_ENV}
          echo "GO_VERSION=$(cat go.mod | grep -Po 'go \K([0-9.]+)')" >> ${GITHUB_ENV}
        env:
          repository: '${{ github.repository }}'
          repository_owner: '${{ github.repository_owner }}'

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
        with:
          install: true

      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ghcr.io
          username: ${{ env.repository_owner }}
          password: ${{ secrets.GH_TOKEN }}

      - name: Login to Quay.io
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_PASSWORD }}

      - name: Build and push (release)
        id: docker_build_release
        if: github.event_name == 'release'
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          file: Dockerfile
          push: true
          tags: |
            releaseargus/argus:${{ github.event.release.tag_name }}
            releaseargus/argus:latest
            releaseargus/argus:master
            ghcr.io/${{ env.repository }}:${{ github.event.release.tag_name }}
            ghcr.io/${{ env.repository }}:latest
            ghcr.io/${{ env.repository }}:master
            quay.io/argus-io/argus:${{ github.event.release.tag_name }}
            quay.io/argus-io/argus:latest
            quay.io/argus-io/argus:master
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
          platforms: linux/amd64,linux/arm64
          provenance: false
          build-args: |
            BUILD_VERSION=${{ github.event.release.tag_name }}

      - name: Build and push (master)
        id: docker_build_master
        if: github.event_name != 'release'
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          file: Dockerfile
          push: true
          tags: |
            releaseargus/argus:master
            ghcr.io/${{ env.repository }}:master
            quay.io/argus-io/argus:master
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache
          platforms: linux/amd64,linux/arm64
          provenance: false
          build-args: |
            BUILD_VERSION=${{ env.sha_short }}
