name: Release Please PR Auto-Update

on:
  workflow_run:
    workflows: ["Release Please"]
    types:
      - completed

permissions:
  contents: write

jobs:
  build-and-commit:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout PR branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install GitHub CLI
        run: |
          sudo apt-get update
          sudo apt-get install -y gh

      - name: Authenticate GitHub CLI
        run: echo "${{ secrets.GITHUB_TOKEN }}" | gh auth login --with-token


      - name: Get 'Release Please' PR branch name
        id: get_pr_branch
        run: |
          pr_branch=$(gh pr list --search "Release Please" --json headRefName --jq '.[0].headRefName')
          echo "pr_branch=$pr_branch" >> $GITHUB_OUTPUT

      - name: Checkout PR branch
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          ref: ${{ steps.get_pr_branch.outputs.pr_branch }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Use Node.js LTS
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: 24.x

      - name: Build web components
        run: make web

      - name: Commit built files
        run: |
          git config user.name "argus-bot"
          git config user.email "bot@release-argus.io"
          git remote set-url origin https://x-access-token:${{ secrets.GH_RELEASE }}@github.com/${{ github.repository }}
          git add -A
          if ! git diff --cached --quiet; then
            git commit -m "chore(build): auto-build after version bump"
            git push
          else
            echo "No changes to commit."
          fi
